<div class="md-stepper {{if isActive "md-active"}}">
  {{#if vertical}}
    <md-steppers-header class="md-steppers-header md-steppers-vertical">
      <button class="md-stepper-indicator
        {{if isActive "md-active"}}
        {{if isCompleted "md-complete"}}
        {{if hasError "md-error"}}
        {{if showOptional "md-stepper-optional"}}" disabled={{isButtonDisabled}}>
        <div class="md-stepper-indicator-wrapper">

          {{#if hasError}}
            <div class="md-stepper-error-indicator">
              {{paper-icon "warning"}}
            </div>
          {{else}}
            <div class="md-stepper-number">
              {{#if isCompleted}}
                {{paper-icon class="md-stepper-icon" icon="check-circle"}}
              {{else}}
                <span>{{stepNumberLabel}}</span>
              {{/if}}
            </div>
          {{/if}}

          <div class="md-stepper-title">
            <span>{{label}}</span>
            {{#if hasError}}
              <small class="md-stepper-error-message">
                {{error}}
              </small>
            {{else}}
              {{#if optional}}
                <small>{{optionalLabel}}</small>
              {{/if}}
            {{/if}}
          </div>

        </div>
      </button>
    </md-steppers-header>
  {{/if}}
  <md-steppers-scope>
    {{yield (hash
      body=(component bodyComponent)
      actions=(component actionsComponent)
    )}}
  </md-steppers-scope>
</div>
