<div class="md-stepper {{if isActive "md-active"}} layout-column flex">
  {{#if vertical}}
    <md-steppers-header class="md-steppers-header">
      <button class="md-stepper-indicator {{if isActive "md-active"}} {{if isCompleted "md-completed"}} {{if hasError "md-error"}}" disabled={{isButtonDisabled}}
        onclick={{if linear null (action goTo stepNumber)}}>
        <div class="md-stepper-indicator-wrapper">

          {{#if hasError}}
            <div class="md-stepper-error-indicator">
              {{paper-icon "warning"}}
            </div>
          {{else}}
            <div class="md-stepper-number">
              {{#if isCompleted}}
                {{paper-icon class="md-stepper-icon" icon="check"}}
              {{else}}
                <span>{{stepNumberLabel}}</span>
              {{/if}}
            </div>
          {{/if}}

          <div class="md-stepper-title">
            <span>{{label}}</span>
            {{#if hasError}}
              <small class="md-stepper-error-message">
                {{error}}
              </small>
            {{else}}
              {{#if summary}}
                <small>{{summary}}</small>
              {{else}}
                {{#if optional}}
                  <small>{{optionalLabel}}</small>
                {{/if}}
              {{/if}}
            {{/if}}
          </div>

        </div>
      </button>
      <div></div>
    </md-steppers-header>
  {{/if}}

  <md-steppers-scope class="layout-column flex md-steppers-scope">
    {{#if isActive}}
      {{yield (hash
        body=(component bodyComponent vertical=vertical)
        actions=(component actionsComponent nextStep=nextStep previousStep=previousStep)
        nextStep=nextStep
        previousStep=previousStep
      )}}
    {{/if}}
  </md-steppers-scope>

</div>
